name: '<{{ inventory_hostname }}>'
listen-peer-urls: 'http://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:2380'
listen-client-urls: 'http://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:2379,http://127.0.0.1:2379'
initial-advertise-peer-urls: 'http://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:2380'
advertise-client-urls: 'http://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:2379'

initial-cluster: '<{{ hostvars[groups['workers'][0]].ansible_hostname }}>=http://{{ hostvars[groups['workers'][0]]['ansible_eth0']['ipv4']['address'] }}:2380,<{{ hostvars[groups['workers'][1]].ansible_hostname }}>=http://{{ hostvars[groups['workers'][1]]['ansible_eth0']['ipv4']['address'] }}:2380,<{{ hostvars[groups['workers'][2]].ansible_hostname }}>=http://{{ hostvars[groups['workers'][2]]['ansible_eth0']['ipv4']['address'] }}:2380'
initial-cluster-state: 'new'
initial-cluster-token: 'etcd-cluster-1'
data-dir: '/var/lib/pgsql/data'
