[Unit]
Description=Runners to orchestrate a patroni cluster
After=etcd.service syslog.target network.target

[Service]
Type=simple
User=postgres
Group=postgres
Environment="PATRONI_LOGLEVEL=DEBUG"
#ExecStartPre=-/usr/bin/sudo /sbin/modprobe softdog
#ExecStartPre=-/usr/bin/sudo /bin/chown postgres /dev/watchdog
#ExecStart={{ patroni_path }} /var/lib/pgsql/patroni.yml
#ExecStart=/bin/bash {{ patroni_path }} /var/lib/pgsql/patroni.yml
#ExecStart=/bin/bash -c '. "$0" && exec "$@"' /var/lib/pgsql/.bash_profile {{ patroni_path }} /var/lib/pgsql/patroni.yml
ExecStart=/bin/bash -l -c 'exec "$@"' /var/lib/pgsql/.bash_profile {{ patroni_path }} /var/lib/pgsql/patroni.yml

ExecReload=/bin/kill -s HUP $MAINPID
KillMode=process
Restart=no
TimeoutSec=30

[Install]
WantedBy=multi-user.target
